spring:
  application:
    name: cloudbalance
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false


#  datasource:
#    url: jdbc:mysql://localhost:3306/cloudbalance
#    username: root
#    password: root@123
#    driver-class-name: com.mysql.cj.jdbc.Driver
#
#  jpa:
#    database-platform: org.hibernate.dialect.MySQLDialect
#    hibernate:
#      ddl-auto: update
#    show-sql: true

jwt:
  secret: my_super_secure_jwt_key_which_is_definitely_long_enough_1234567890!
  expiration: 86400000
  impersonation:
    expiration: 3600000

server:
  error:
    whitelabel:
      enabled: false



