.navbar {
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem ;
    background: white;
    border-bottom: 1px solid #ddd;
   box-shadow: 0 0 1vh 0;
   z-index: 1100;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 5.9rem;
    width: 10rem;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 0.95rem;
  }
  
  .welcome {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    position: relative;
    top: 1.2vh;
  }
  
  .user-icon {
    height: 4rem;
    width: auto;
    position: relative;
    bottom: 1vh;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 1vh;
  }
  
  .role {
    font-size: 0.85rem;
    color: #0033cc;
    font-weight: 600;
    margin-bottom: 2px;
  }
  
  .welcome strong {
    color: #0033cc; /* Or leave as is if you prefer it blue */
  }
  
 
  
  .logout-button {
    background: white;
    border: 1px solid #0033cc;
    color: #0033cc;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5vh;
  }
  
  .logout-button:hover {
    background: #0033cc;
    color: white;
  }

  .logout-button img{
    height: 2vh;
    position: relative;
    top: 0.2vh;


  }
  